# MediaMTX stream converter (docker compose service: converter)
MTX_HLSADDRESS=
MTX_PATHS_CAM_SOURCE=

# GUI Cam website (docker compose service: web)
VITE_STREAM_URL=https://gui-cam-converter.example.com/cam/index.m3u8
